.chatbot-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
  }
  
  .chatbot {
    width: 98%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 500px;
  }
  
  .chatbot h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .chatbox {
    height: 400px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  
  .message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    max-width: 70%; /* Limit message width for better readability */
  }
  
  .message.user {
    align-self: flex-end;
    background-color: #d1e7ff;
    color: #0056b3;
    margin-left: auto; /* Push user messages to the right */
  }
  
  .message.bot {
    align-self: flex-start;
    background-color: #f0f0f0;
    color: #333;
    margin-right: auto; /* Push bot messages to the left */
  }
  
  .message.bot p {
    color: #333; /* Adjusted bot message text color */
  }
  
  .input-box {
    display: flex;
    align-items: center;
  }
  
  .input-box input {
    flex: 1;
    max-width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input-box input:focus {
    border-color: #007bff;
  }
  
  .input-box button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .input-box button:hover {
    background-color: #0056b3;
  }
  
  
  
  .image-handler {
    margin-left: 10%;
    width: 40%; /* Adjusted width to take up 40% of the container */
    max-width: 40%;
    position: relative; /* Ensure image takes up full height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-handler img {
    width: 100%; /* Ensures the image fills its container */
    border-radius: 10px; /* Added border-radius for aesthetic */
    max-height: 90vh;
  }
  
  @media (max-width: 930px) {
    .image-handler{
      display: none;
    }
  
    .chatbot-container {
      justify-content: flex-end; 
    
    }
    .chatbot{
      max-width: 650px;
    }
  
  }