.button-modify {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;

  line-height: 2.4em;
  overflow: hidden;
  cursor: pointer;
  margin: 15px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.button-modify::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.button-modify:hover {
  color: white;
}

.button-modify:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.button-modify:hover::before {
  top: -30px;
  left: -30px;
}
